<h1><%= @title %></h1>
<div class="sub1">
	<ul>
        <li><%= link_to "Presidents Message", '#' %></li>
        <li><%= link_to "Mission and History", '#' %></li>
        <li><%= link_to "Administration and Offices", '#' %></li>
		<li><%= link_to "Facts and Figures", '#' %></li>
        <li><%= link_to "Giving", '#' %></li>
        <li><%= link_to "Career", '#' %></li>
		<li><%= link_to "Diversity", '#' %></li>
        <li><%= link_to "Maps and Directions", '#' %></li>
        <li><%= link_to "Contact Us", '#' %></li>
    </ul>
</div>