<h1><%= @title %></h1>
<div class="sub1">
	<ul>
        <li><%= link_to "Medical School", '#' %></li>
        <li><%= link_to "Graduate School", '#' %></li>
        <li><%= link_to "School of Health Professions", '#' %></li>
		<li><%= link_to "Departments and Centers", '#' %></li>
		<li><%= link_to "Programs", '#' %></li>
    </ul>
</div>