<div id="primary2">
	<%= render 'layouts/ed' %>
</div>

<h1><%= @title %></h1>

<div id="sub1">
	<ul>
        <li><%= link_to "About the School", '#' %></li>
        <li><%= link_to "Admissions", '#' %></li>
        <li><%= link_to "Alumni", '#' %></li>
		<li><%= link_to "Curriculum", '#' %></li>
		<li><%= link_to "Residency", '#' %></li>
		<li><%= link_to "Fellowships", '#' %></li>
		<li><%= link_to "Residency", '#' %></li>
    </ul>
</div>