<div id="primary2">
	<%= render 'layouts/life' %>
</div>

<h1><%= @title %></h1>
<div class="sub1">
	<ul>
        <li><%= link_to "Profiles", '#' %></li>
        <li><%= link_to "Q&A", '#' %></li>
        <li><%= link_to "Videos", '#' %></li>
		<li><%= link_to "Innovation @ Work", '#' %></li>
    </ul>
</div>