<h1><%= @title %></h1>
<div id="sub1">
	<ul>
        <li><%= link_to "Research Highlights", '#' %></li>
        <li><%= link_to "Research Opportunities", '#' %></li>
        <li><%= link_to "Core Facilities", '#' %></li>
		<li><%= link_to "Technology Development", '#' %></li>
		<li><%= link_to "Research Administration", '#' %></li>
		<li><%= link_to "Postdoctoral Training", '#' %></li>
    </ul>
</div>