<header>
    <nav class="round">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Education and Training", ed_path %></li>
		<li><%= link_to "Research", research_path %></li>
		<li><%= link_to "Patient Care", patient_path %></li>
		<li><%= link_to "Life @ UTSW", life_path %></li>
	    <li><%= link_to "Why Here?", why_path %></li>
		<li><%= link_to "News and Events", news_path %></li>
      </ul>
    </nav>
</header>