<nav class="round">
	<ul>
        <li><%= link_to "People", people_path %></li>
        <li><%= link_to "Your Life", '#' %></li>
        <li><%= link_to "Academic Life", '#' %></li>
		<li><%= link_to "Campus Life", '#' %></li>
		<li><%= link_to "Dallas Life", '#' %></li>
		 <li><%= link_to "Get Involved", '#' %></li>
	     <li><%= link_to "Visiting UTSW", '#' %></li>
	     <li><%= link_to "Video Library", '#' %></li>
    </ul>
</nav>